html, body, figure, ul, li, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

li {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 40px;
}

h2 {
  display: block;
  font-size: 20px;
}

.towers {
  margin: 40px auto;
  display: block;
  width: 660px;
}

.tower {
  position: relative;
  float: left;
  width: 200px;
  margin: 0 10px;
  background: white;
}

ul:hover {
  background: LightGrey;
}

.tower > li {
  color: white;
  text-align: center;
  display: block;
  position: relative;
  height: 100px;
  margin: 1px auto;
  background: transparent;
}

.tower > .one, .tower > .two, .tower > .three {
  border: 1px solid black;
  border-radius: 5px;
  background: IndianRed;
}

.tower > .one {
  width: 77px;
}

.tower > .two {
  width: 133px;

}

.tower > .three {
  width:200px;
}

.towers > .selected {
  background: MediumSeaGreen;

}
