html, body, figure, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

li {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 30px;
}

.grid {
  width: 300px;
  margin: 20px auto;
  border: 5px solid black;
}

.grid > li {
  float: left;
  display: block;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  background: gray;
  font-size: 70px;
  font-weight: 600;
}

.grid >li:hover {
  background:yellow;
}

.grid > .occupied {
  background: white;
}

.grid > .winner {
  background: green;
  color: white;
}

.grid > .loser {
  color: red;
}
